  /* Float four columns side by side */
  .column {
    float:left;
    width: 29.5%;
    padding: 10px;
    margin-top:10px;
    margin-bottom:8px;
    margin-left:20px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0px;
    margin-top:12px;
    }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      padding:10px;
    }
  }
  
  /* Style the counter cards */
  .card3 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius:8px;
    text-align: left;
    background-color: white;
  }
  .name
  {
    font-size:20px;
    margin-bottom:4px;
    margin-right:10%;
    margin-left:7%;
  }
  .date
  {
    font-size:16px;
    margin-top:4px;
    margin-right:3%;
    margin-left:2%;
    margin-bottom:10px;
  }
  .description{
    font-size:14px;
    color:grey;
    margin-bottom:14px;
    margin-left:7%;
  }
  .cost{
    font-size:18px;
    margin-bottom:0px;
    margin-left:7%;
  }
  .card2{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.8s;
    margin-top: 0;
    margin-left:80px;
    margin-right:40px;
    margin-bottom:3px;
    padding:0;
    width:100%
  }
  .card13{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.8s;
    margin-top: 0;
    margin-left:20px;
    margin-right:40px;
    margin-bottom:3px;
    padding:0;
    width:100%
  }
.body.card4{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius:8px;
        text-align: left;
        background-color: white;
        margin-bottom:30px;
        width:500px;
}
.dropdown{
  padding: 6px 12px;
   font-size:14px;
   margin-top:20px;
   height:40px;
   color: white;
   border-radius: 4px;
   border: 1px solid transparent;
}
.dropdown2{
  padding: 6px 12px;
   font-size:14px;
   margin-left: 80%;
   height:40px;
   color: white;
   border-radius: 4px;
   border: 1px solid transparent;
}
.AddMenu{
    padding: 6px 12px;
     font-size:14px;
     margin-top:20px;
     margin-right:10px;
     height:40px;
     color: white;
     background-color: green;
     border-radius: 4px;
     border: 1px solid transparent;
}
.AddMenu_Not{
  cursor: not-allowed;
  padding: 6px 12px;
   font-size:14px;
   margin-top:20px;
   margin-right:10px;
   height:40px;
   color: white;
   background-color:#C0C0C0;
   border-radius: 4px;
   border: 1px solid transparent;
}
.AddNew{
  padding: 6px 12px;
   font-size:14px;
   margin-left:800%;
   margin-right:0%;
   color: white;
   height:auto;
   width:100px;
   background-color: green;
   border-radius: 4px;
   border: 1px solid transparent;
}
.AddNew_Not{
   cursor: not-allowed;
   padding: 6px 12px;
   font-size:14px;
   margin-left:800%;
   margin-right:0%;
   height:auto;
   width:100px;
   color: white;
   background-color: #C0C0C0;
   border-radius: 4px;
   border: 1px solid transparent;
}
.Form-section1{
    margin-bottom: 20px;
    margin-left: 24%;
    margin-top:30px;
}
.Form-input1{
    font-size: 15px;
    padding: 4px;
    width: 320px;
    height:30px;
    color:#888787;
    border: 3px;
    border-radius: 4px ;
    border:0;
    background-color :#F0F0F0;   
   }
   .Form-input2{
    font-size: 15px;
    padding: 4px;
    width: 322px;
    height:70px;
    font-display: top;
    color:#888787;
    border: 3px;
    border-radius: 4px ;
    border:0;
    background-color :#F0F0F0;   
   }
   .Form-input3{
    font-size: 15px;
    padding: 4px;
    width:126px;
    height:30px;
    color:#888787;
    border: 3px;
    border-radius: 4px ;
    border:0;
    background-color :#F0F0F0;   
   }
   .Form-input4{
    font-size: 15px;
    padding: 4px;
    width:100px;
    height:30px;
    color:#888787;
    border: 3px;
    border-radius: 4px ;
    border:0;
   }
   .Form-submit1{
    font-size: 18px;
    padding: 8px;
    width: 330px;
    color: white;
    margin-top: 19px;
    margin-bottom:50px;
    background-color: rgb(69, 156, 120);
    border-radius: 4px;
    border:0;
}
.Add{
  padding: 6px 12px;
   font-size:14px;
   margin-left: 80%;
   margin-top:20px;
   height:35px;
   width:60px;
   color: white;
   background-color: green;
   border-radius: 4px;
   border: 1px solid transparent;
}
.Added{
  padding: 6px 12px;
   font-size:14px;
   margin-left: 80%;
   margin-top:20px;
   height:35px;
   color: green;
   background-color:#F0F0F0; ;
   border-radius: 4px;
   border: 1px solid transparent;
}
.card4 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius:8px;
  text-align: left;
  padding:10px;
  background-color: white;
}
.card5{
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  border-radius:8px;
  text-align: left;
  width:500px;
  padding:10px;
  margin-left:25px;
  margin-bottom:25px;
  background-color: #d9d8d8;
}
.plus{
 margin-left: 10%;
 background-color:#f5f0f0 transparent;
 color:green;
 font-size:small;
}
.minus{
  background-color:#f5f0f0 transparent;
  color:green;
  font-size:small;
  
}
.cost1{
  font-size:18px;
  margin-top:5px;
  color:green;
  margin-bottom:0px;
  margin-left:10%;
}
.Total{
  margin-left: 7%;
  font-size:24px;
  margin-bottom:20px;

}
.card6{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius:8px;
  text-align: left;
  padding:10px;
  width:800px;
  margin-left:25px;
  margin-right:20px;
  margin-bottom:25px;
}
.Order{
  font-size: 18px;
  padding: 8px;
  width: 330px;
  color: white;
  margin-top: 30px;
  margin-bottom:50px;
  background-color: rgb(69, 156, 120);
  border-radius: 4px;
  margin-left: 50px;
  border:0;
}
.user_name
  {
    font-size:20px;
    margin-bottom:14px;
    margin-left:7%;
  }
  .user_title
  {
    margin-left:50%;
    font-size:24px;
    color:#380c0c;
    margin-bottom:16px;
  }
  .plus1{
    margin-left: 10%;
    background-color:green ;
    color:black;
    font-size:small;
    margin-right:6px;
    width: 30px;
    height:30px;
    border-radius: 4px;
   border: 1px solid transparent;
   }
   .minus1{ 
    background-color:green ;
    color:black;
    margin-left: 15px;
    font-size:small;
    width: 30px;
    height:30px;
    border-radius: 4px;
   border: 1px solid transparent;
     
   }
   .card10 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius:8px;
    width:95%;
    margin-left: 30px;
    margin-top:20px;
    margin-bottom:20px;
    text-align: left;
    background-color: white;
  }
  .OrderNo{
    font-size:18px;
    color:grey;
    margin-bottom:14px;
    margin-left:7%;
  }
  .mobile_no{
    font-size:14px;
    color:grey;
    margin-top:5px;
    margin-left:10px;
    margin-bottom:14px;
  }
  .items{
    font-size:20px;
    color: #890000;
    margin-left:7%;
  }
  .menu{
    font-size:18px;
    margin-left:7%;
  }
  .menu1{
    font-size:18px;
    margin-top:20px;
    margin-left:7%;
    padding-bottom:20px;
  }
  .Update{
     font-size:14px;
     margin-right: 10px;
     color: white;
     background-color: green;
     border-radius: 2px;
     border: 1px solid transparent;
}
.Update_Not{
     cursor: not-allowed;
     margin-right: 10px;
     color: white;
     background-color: #C0C0C0;
     border-radius: 2px;
     border: 1px solid transparent;
}
.Show{
  font-size:14px;
  margin-right: 10px;
  color: white;
  background-color: green;
  border-radius: 2px;
  border: 1px solid transparent;
}
.Reports{
  font-size:14px;
  margin-right: 10px;
  margin-left:15px;
  color: white;
  background-color: green;
  border-radius: 4px;
  width:70px;
  border: 1px solid transparent;
}
.select{
  width:50px;
  display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
  background-color: black;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 3px;
  border: none;
  background: #f1f1f1;
  padding: 2px;
}
.sam{
  margin-left: 45%
}
.sam1{
  margin-left: 40%
}
.action{
   top: 20px;
   right: 30px;
}
.action .profile{
   width: 60px;
   height: 60px;
   border-radius : 50%;
   overflow: hidden;
   cursor: pointer;
}
.action .profile img{
  position: absolute;
  top:62px;
   right: 80px;
   width:50px;
   height:50px;
   object-fit: cover;
}
.action .MenuToggle{
  position: absolute;
  top: 120px;
  right: 18px;
  padding: 10px 20px;
  background :#E9E9E9;
  box-sizing : 0 5px 5px rgba(0,0,0,0.1);
  border-radius: 12px;
  transition: 0.5px;
  visibility: hidden;
  opacity: 0;
}
.action .MenuToggle.active{
   visibility: visible;
   opacity: 1;
}

.action .MenuToggle p{
  width: 100%;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  font-size: 18px;
  color: #555;
  line-height: 1.2em; 
}
